body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

form {
    width: 30%;
    margin: auto;
    text-align: center;
}

.form-element {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

form div label {
    flex: 1;
}

form div input {
    flex: 1;
}

#btnPretraga {
    background-color: yellow;
    width: 120px;
    float: left;
    margin-top: 10%;
}
